h3{
    font-size: small;
    color: red;
    letter-spacing: 2px;
    font-style: oblique;
}

#main_div
{
    background-color: darkgrey;
    width: 99% ;
    border-radius: 5;
}

#result
{
    float: center;
}